# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Environnements virtuels ---
venv/
.env/

# --- PyInstaller build output ---
build/
dist/
*.spec

# --- Inno Setup output ---
output/
release/

# --- Rapports générés ---
rapport/
scan.json

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- VSCode ---
.vscode/
